.sidebar-menu{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    display: flex;
    background-color: #333;
    transform: translateX(-80%);
    transition: transform 350ms ease-in-out;
}

.sidebar-menu:hover{
    transform: translateX(0);
}
.menu-item:not(:last-child){
    margin-bottom: 15px;
}
.menu-link{
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
    font-size: 24px;
}

.menu-link:hover{
    color: yellow;
}
.menu-link::before{
   content: ""; 
   display: inline-block;
   width: 8px;
   height:8px ;
   transform: rotate(45deg);
   border: 1px solid black;
   background-color: coral;
}

.menu-box{
    margin: 35px;
}

.menu-text{
color: white;
writing-mode: vertical-rl;
text-align: center;
font-size: 24px;
margin-left: 30px;
opacity: 1;
transition: opacity 300ms ease-in-out;
}

.sidebar-menu:hover .menu-text {
    opacity: 0;
}










